<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag">
    <meta charset="utf-8" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" 
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"  rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.js}"></script>
    <style th:inline="text"> 
        @font-face {
            font-family: yekan;
            src: url(/ivrreporting/resources/fonts/BYekan.ttf);
        }
        @font-face {
            font-family: tahoma;
            src: url(/ivrreporting/resources/fonts/tahoma.ttf);
        }
        body {
            font-family: tahoma;
        }
    </style>
</head>
<body>
</body>
</html>

