<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header">
    <a th:unless="${#locale.language == 'en'}" href="?language=en">English</a>
    <a th:unless="${#locale.language == 'fa'}" href="?language=fa">Farsi</a>
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="pull-right">
        <span th:text="|Hello: ${#authentication.name}|"> Hello: username </span> |
        <a href="#" th:href="@{/signout}">signout</a>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}" class="pull-right">
        <a href="#" th:href="@{/signin}">signin</a>
    </div>
</div>
</body>
</html>

