<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:include="fragments/headTag :: headTag" th:remove="tag"/>
</head>

<body th:style="${#locale.language == 'fa'}? 'font-family: yekan' : 'font-family: tahoma'">
    <div class="container" th:dir="${#locale.language == 'fa'}? 'rtl'">
        <div th:include="/fragments/header :: header">
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th th:text="#{user.username}">username</th>
                <th th:text="#{user.role}">role</th>
                <th th:text="#{user.expireDate}">expire date</th>
            </tr>
            <tr th:each="user : ${users}">
                <td><a href="#" th:href="@{|/users/${user.id}|}" th:text="${user.username}">username</a></td>
                <!--<td th:text="${(user.roles.size() != 0) ? user.roles[0].name : ''}">admin</td>-->
                <td th:text="${user.roles}">admin</td>
                <td th:text="${{user.expireDate}}">2015/08/30 12:00:00</td>
            </tr>
        </table>
        <!--  pager  -->
        <div th:replace="/fragments/pager :: pager(path='users', page=${page}, pageSize=${pageSize})"></div>

        <div th:if="${#authorization.expression('hasAuthority(''user_create_view'')')}">
            <a href="#" th:href="@{/users/create}" th:text="#{user.add.message}">add new user</a>
        </div>
   </div>
</body>
</html>

