<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd
                           http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <security:http auto-config="false" use-expressions="true" pattern="/resources/**" security="none" />

    <security:http auto-config="false" use-expressions="true">

        <security:intercept-url pattern="/admin*" access="hasRole('ADMIN')" />

        <security:form-login login-page="/signin" 
               default-target-url="/"
               username-parameter="username" 
               password-parameter="password"   
               authentication-failure-url="/signin?error"/>
        <security:logout logout-success-url="/signout" delete-cookies="JSESSIONID" />

        <security:access-denied-handler error-page="/403"/>

        <security:csrf disabled="true"/>

    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder hash="bcrypt" />
            <security:user-service>
                <!-- <security:user name="Admin" password="Admin123" authorities="ROLE_ADMIN" /> -->
                <security:user name="Admin" password="$2a$10$cJ8V4.8YPtuWJOeAymLIxekgSQLUvlgwEKR3NrlA3pnz8APcRYlc2" authorities="ROLE_ADMIN" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>
