<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans 
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/context
                                 http://www.springframework.org/schema/context/spring-context.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled" />

    <!--    no security   -->        
    <http pattern="/resources/**" security="none" />
    <http pattern="/webjars/**" security="none" />

    <http>

        <!--    accessible for all  -->
        <intercept-url pattern="/" access="permitAll" requires-channel="https"/>
        <intercept-url pattern="/signin" access="permitAll" requires-channel="https"/>
        <intercept-url pattern="/signout" access="permitAll" requires-channel="https"/>
        <!--  product permissions   -->
        <intercept-url pattern="/products" method="GET" access="hasAuthority('product_list_view')" requires-channel="https" />
        <intercept-url pattern="/products/create" method="GET" access="hasAuthority('product_create_view')" />
        <intercept-url pattern="/products/create" method="POST" access="hasAuthority('product_create_do')" />
        <intercept-url pattern="/products/reportExport" access="hasAuthority('product_report_export')" />
        <intercept-url pattern="/products/report**" access="hasAuthority('product_report_view')" />
        <intercept-url pattern="/products/**" method="GET" access="hasAuthority('product_update_view')" />
        <intercept-url pattern="/products/**" method="POST" access="hasAuthority('product_update_do')" />
         <!--  user permissions   -->
        <intercept-url pattern="/users" method="GET" access="hasAuthority('user_list_view')" />
        <intercept-url pattern="/users/create" method="GET" access="hasAuthority('user_create_view')" />
        <intercept-url pattern="/users/create" method="POST" access="hasAuthority('user_create_do')" />
        <intercept-url pattern="/users/reportExport" access="hasAuthority('user_report_export')" />
        <intercept-url pattern="/users/report**" access="hasAuthority('user_report_view')" />
        <intercept-url pattern="/users/**" method="GET" access="hasAuthority('user_update_view')" />
        <intercept-url pattern="/users/**" method="POST" access="hasAuthority('user_update_do')" />
        <!--  role permissions   -->
        <intercept-url pattern="/roles" method="GET" access="hasAuthority('role_list_view')" />
        <intercept-url pattern="/roles/create" method="GET" access="hasAuthority('role_create_view')" />
        <intercept-url pattern="/roles/create" method="POST" access="hasAuthority('role_create_do')" />
        <intercept-url pattern="/roles/reportExport" access="hasAuthority('role_report_export')" />
        <intercept-url pattern="/roles/report**" access="hasAuthority('role_report_view')" />
        <intercept-url pattern="/roles/**" method="GET" access="hasAuthority('role_update_view')" />
        <intercept-url pattern="/roles/**" method="POST" access="hasAuthority('role_update_do')" />
        <!--    default, accessible for authenticated users  -->
        <intercept-url pattern="/**" access="authenticated" />

        <form-login login-page="/signin" 
                    login-processing-url="/signin"
                    default-target-url="/"
                    username-parameter="username" 
                    password-parameter="password"   
                    authentication-failure-url="/signin?error"/>

        <logout logout-url="/signout" logout-success-url="/" delete-cookies="JSESSIONID" />

        <!--<access-denied-handler error-page="/error" />-->

        <csrf disabled="true"/>

    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="UserService">
            <password-encoder hash="bcrypt" />
        </authentication-provider>
    </authentication-manager>

    <debug />

</beans:beans>
