<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta th:include="fragments/headTag :: headTag" th:remove="tag"/>
    <meta th:include="fragments/headTagCalendar :: headTagCalendar" th:remove="tag"/>
</head>

<body>

<script type="text/javascript" th:inline="javascript">

$(document).ready(function(){
   $("ul.pagination a").click(function(e) {
        e.preventDefault();
        $("#page").val($(this).attr("id"));
        $("#pageSize").val([[${pageSize}]]);
        $("form").submit();
    });

    $("#pageSizeSelect").change(function(){
        $("#pageSize").val($(this).val());
        $("#page").val([[${page}]]);
        $("form").submit();
    });   

    $("table th").click(function(){
        if ($(this).text() == "DateTime") {
            $("#page").val([[${page}]]);
            $("#pageSize").val([[${pageSize}]]);
            $("#sortField").val([[${sortField}]]);
            $("#isSortDirectionAsc").val([[${!isSortDirectionAsc}]]);
            $("form").submit();
        }
    }); 

});
</script>

    <div class="container" th:dir="${#locale.language == 'fa'}? 'rtl'">
        <div th:include="/fragments/header :: header">
        </div>
       <br/>
        <form action="#" th:action="@{/products/report}" th:object="${productReportFilter}" class="form-horizontal" method="post">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label class="control-label col-md-2">name: </label>
                    <div class="col-md-10">
                       <input type="text" th:field="*{name}" class="form-control"/>
                       <span class="help-inline" th:errors="*{name}">[error]</span>
                     </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('price')} ? 'has-error'">
                    <label class="control-label col-md-2">price: </label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{price}" class="form-control"/>
                        <span class="help-inline" th:errors="*{price}">[error]</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('fromDate')} ? 'has-error'">
                    <label class="control-label col-md-2">From Date: </label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{fromDate}" class="form-control" th:errorclass="fieldError"/>
                        <span class="help-inline" th:errors="*{fromDate}">[error]</span>
                            <script type="text/javascript" th:inline="javascript">
                                Calendar.setup({
                                                inputField     :    "fromDate",   // id of the input field
                                                button         :    "fromDate",   // trigger for the calendar (button ID)
                                                showsTime      : true,     
                                                ifFormat       :    "%Y/%m/%d %H:%M:%S",       // format of the input field
                                                dateType       :    [[${#locale.language == 'fa'} ? 'jalali' : 'gregorian']],
                                                weekNumbers    : false
                                            });
                            </script>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('toDate')} ? 'has-error'">
                    <label class="control-label col-md-2">To Date: </label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{toDate}" class="form-control" th:errorclass="fieldError"/>
                        <span class="help-inline" th:errors="*{toDate}">[error]</span>
                            <script type="text/javascript" th:inline="javascript">
                                Calendar.setup({
                                                inputField     :    "toDate",   // id of the input field
                                                button         :    "toDate",   // trigger for the calendar (button ID)
                                                showsTime      : true,     
                                                ifFormat       :    "%Y/%m/%d %H:%M:%S",       // format of the input field
                                                dateType       :    [[${#locale.language == 'fa'} ? 'jalali' : 'gregorian']],
                                                weekNumbers    : false
                                            });
                            </script>

                    </div>
                </div>
               <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input  type="submit" value="report" class="btn btn-primary" />
                    </div>
                </div>
                <input type="hidden" name="page" id="page" value="1" />
                <input type="hidden" name="pageSize" id="pageSize" value="10" />
                <input type="hidden" name="sortField" id="sortField" value="dateTime" th:value="${sortField}"/>
                <input type="hidden" name="isSortDirectionAsc" id="isSortDirectionAsc" value="true" th:value="${isSortDirectionAsc}"  />
        </form>
        <table class="table table-bordered table-striped">
            <tr>
                <th>name</th>
                <th>price</th>
                <th>DateTime</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">name</td>
                <td th:text="${product.price}">125.58</td>
                <td th:text="${{product.dateTime}}">2015/08/30 12:00:00</td>
            </tr>
        </table>
        <ul class="pagination pagination-lg" th:with="page1=${(((page-1)/3)*3)+1},page2=${(((page-1)/3)*3)+2},page3=${(((page-1)/3)*3)+3}">
          <li th:unless="${page == 1}">
            <a th:id="1" href="#">&#060;&#060;</a>
          </li>
          <li th:unless="${page le 1}">
            <a th:id="${page-1}" href="#">&#060;</a>
          </li>
          <li th:unless="${((page1-1)*pageSize) ge count}" th:classappend="(${page} == ${page1})? 'active'">
            <a th:id="${page1}" href="#" th:text="${page1}">1</a>
          </li>
          <li th:unless="${((page2-1)*pageSize) ge count}" th:classappend="(${page} == ${page2})? 'active'">
            <a th:id="${page2}"  href="#" th:text="${page2}">2</a>
          </li>
          <li th:unless="${((page3-1)*pageSize) ge count}" th:classappend="(${page} == ${page3})? 'active'">
            <a th:id="${page3}" href="#" th:text="${page3}">3</a>
          </li>
          <li th:unless="${page ge ((count/pageSize)+1)}">
            <a th:id="${page+1}" href="#">&#062;</a>
          </li>
          <li th:unless="${page == ((count/pageSize)+1)}">
            <a th:id="${(count/pageSize)+1}" href="#">&#062;&#062;</a>
          </li>
        </ul>
        <select id="pageSizeSelect">
            <option value="5" th:selected="${pageSize == 5}">5</option>
            <option value="10" th:selected="${pageSize == 10}">10</option>
            <option value="15" th:selected="${pageSize == 15}">15</option>
            <option value="20" th:selected="${pageSize == 20}">20</option>
        </select>
    </div>
</body>

</html>
