<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:include="fragments/headTag :: headTag" th:remove="tag"/>
    <script src="resources/js/stomp.js"></script>
    <script src="resources/js/sockjs-0.3.4.js"></script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
    connect();        
    });

    function connect() {
            var socket = new SockJS("productmsg");
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                stompClient.subscribe("/topic/product", function(message){
                    $("#message").text(message.body);
                });
            });
        }
/*]]>*/
</script>

</head>

<body th:style="${#locale.language == 'fa'}? 'font-family: yekan' : 'font-family: tahoma'">
    <div class="container-fluid" th:dir="${#locale.language == 'fa'}? 'rtl'">
        <div th:include="/fragments/header :: header">
        </div>

        <table class="table table-bordered table-striped">
            <tr>
                <th th:text="#{product.name}">name</th>
                <th th:text="#{product.price}">price</th>
                <th th:text="#{product.dateTime}">DateTime</th>
            </tr>
            <tr th:each="product : ${products}">
                <td><a href="#" th:href="@{|/products/${product.id}|}" th:text="${product.name}">name</a></td>
                <td th:text="${product.price}">125.58</td>
                <td th:text="${{product.dateTime}}">2015/08/30 12:00:00</td>
            </tr>
        </table>
        <!--    pager   -->
        <div th:replace="/fragments/pager :: pager(path='products', page=${page}, pageSize=${pageSize})"></div>
        <div th:if="${#authorization.expression('hasAuthority(''product_create_view'')')}">
            <a href="#" th:href="@{/products/create}" th:text="#{product.add.message}">add new product</a>
        </div>
   </div>
</body>

</html>
