<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:include="fragments/headTag :: headTag" th:remove="tag"/>
    <meta th:include="fragments/headTagCalendar :: headTagCalendar" th:remove="tag"/>

    <style> 

        @font-face {
            font-family: yekan;
            src: url(../resources/fonts/BYekan.ttf);
        }

        body {
            font-family: yekan;
        }
</style>
</head>

<body th:style="${#locale.language == 'fa'}? 'font-family: yekan' : 'font-family: tahoma'">
    <div class="container" th:dir="${#locale.language == 'fa'}? 'rtl'">
        <div th:include="/fragments/header :: header">
        </div>
        <br/>
        <p th:text="${#locale}">
        </p>
        <form action="#" th:action="(${product.id} != null) ? @{|/products/${product.id}|} : @{/products/create}" th:object="${product}" class="form-horizontal" method="post">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label class="control-label col-md-2" th:text="#{product.name}">name: </label>
                    <div class="col-md-10">
                       <input type="text" th:field="*{name}" class="form-control"/>
                       <span class="help-inline" th:errors="*{name}">[error]</span>
                     </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('price')} ? 'has-error'">
                    <label class="control-label col-md-2" th:text="#{product.price}">price: </label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{price}" class="form-control"/>
                        <span class="help-inline" th:errors="*{price}">[error]</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('dateTime')} ? 'has-error'">
                    <label class="control-label col-md-2" th:text="#{product.dateTime}">DateTime: </label>
                    <div class="col-md-10">
                        <input type="text" th:field="*{dateTime}" class="form-control" th:errorclass="fieldError"/>
                        <span class="help-inline" th:errors="*{dateTime}">[error]</span>
    <script type="text/javascript" th:inline="javascript">
                Calendar.setup({
                    inputField     :    "dateTime",   // id of the input field
                    button         :    "dateTime",   // trigger for the calendar (button ID)
                    showsTime      : true,     
                    ifFormat       :    "%Y/%m/%d %H:%M:%S",       // format of the input field
                    dateType       :    [[${#locale.language == 'fa'} ? 'jalali' : 'gregorian']],
                    weekNumbers    : false
                });
            </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input  type="submit" value="submit" class="btn btn-primary" th:value="#{button.submit}" />
                    </div>
                </div>
        </form>
    </div>
</body>

</html>
