<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:include="fragments/headTag :: headTag" th:remove="tag"/>

    <style> 
        @font-face {
            font-family: yekan;
            src: url(../resources/fonts/BYekan.ttf);
        }

        body {
            font-family: yekan;
        }
</style>

</head>

<body>
    <div class="container" th:dir="${#locale.language == 'fa'}? 'rtl'">
        <div th:include="/fragments/header :: header">
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th th:text="#{product.name}">name</th>
                <th th:text="#{product.price}">price</th>
                <th th:text="#{product.dateTime}">DateTime</th>
            </tr>
            <tr th:each="product : ${products}">
                <td><a href="#" th:href="@{|/products/${product.id}|}" th:text="${product.name}">name</a></td>
                <td th:text="${product.price}">125.58</td>
                <td th:text="${{product.dateTime}}">2015/08/30 12:00:00</td>
            </tr>
        </table>
         <ul class="pagination pagination-lg" th:with="page1=${(((page-1)/3)*3)+1},page2=${(((page-1)/3)*3)+2},page3=${(((page-1)/3)*3)+3}">
            <li th:unless="${page == 1}">
                <a href="#" th:href="@{/products(page=1,pageSize=${pageSize})}">&#060;&#060;</a>
            </li>
            <li th:unless="${page le 1}">
                <a href="#" th:href="@{/products(page=${page-1},pageSize=${pageSize})}">&#060;</a>
            </li>
            <li th:unless="${((page1-1)*pageSize) ge count}" th:classappend="(${page} == ${page1})? 'active'">
                <a href="#" th:href="@{/products(page=${page1},pageSize=${pageSize})}" th:text="${page1}">1</a>
            </li>
            <li th:unless="${((page2-1)*pageSize) ge count}" th:classappend="(${page} == ${page2})? 'active'">
                <a href="#" th:href="@{/products(page=${page2},pageSize=${pageSize})}" th:text="${page2}">2</a>
            </li>
            <li th:unless="${((page3-1)*pageSize) ge count}" th:classappend="(${page} == ${page3})? 'active'">
                <a href="#" th:href="@{/products(page=${page3},pageSize=${pageSize})}" th:text="${page3}">3</a>
            </li>
            <li th:unless="${page ge (count/pageSize+1)}">
                <a href="#" th:href="@{/products(page=${page+1},pageSize=${pageSize})}">&#062;</a>
            </li>
            <li th:unless="${page == (count/pageSize+1)}">
                <a href="#" th:href="@{/products(page=${(count/pageSize)+1},pageSize=${pageSize})}">&#062;&#062;</a>
            </li>
        </ul>
     <div>
        <a href="#" th:href="@{/products/create}" th:text="#{product.add.message}">add new product</a>
    </div>
    <span th:text="${page}">page</span>, <span th:text="${pageSize}">pageSize</span>
   </div>
</body>

</html>
